body {
    background: #999;
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}
#app{
    width: 200px;
    margin-top: 50px;
    transform: rotate(45deg); /* 这个属性会产生浏览器内核前缀如 -webkit*/
}

// common base
.flex-row{
    display: flex;
    align-items: center;
    align-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-content: center;
}
// margin
.mg8{
    margin: 8px;
}
.mg16{
    margin: 16px;
}
.mg24{
    margin: 24px;
}
.mt8{
    margin-top: 8px;
}
.mb8{
    margin-bottom: 8px;
}
.ml8{
    margin-left: 8px;
}
.mr8{
    margin-right: 8px;
}
.mt16{
    margin-top: 16px;
}
.mb16{
    margin-bottom: 16px;
}
.ml16{
    margin-left: 16px;
}
.mr16{
    margin-right: 16px;
}
.mr24{
    margin-right: 24px;
}
// item
.list-item-click{
    background: rgba(153,170,192,.17);
    border-left: 3px solid #1890ff;
    :global{
        .ant-avatar.ant-avatar-icon {
            background: #1890ff;
        }
        .ant-list-item-action{
            color: #1890ff;
            opacity: 1;
        }
    }
  
}
.list-item-hover {
    cursor: pointer;
    &:hover {
        background-color: #fafafa;
    }
}
.h2-text{
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
}

.main-content {
    margin:16px;
    height: calc(100% - 100px);
    overflow: hidden;
}
.left-content-box{
    height: 100%;
    overflow: hidden;
    width: 260px;
    margin-right: 16px;
}
.search-box{
    margin-bottom: 10px;
    display: flex;
}
.menu-box{
    height: calc(100% - 45px);
    overflow: hidden;
    position: relative;
}
.menu-list-box{
    height: calc(100% - 100px);
    overflow: scroll;

}

.right-content-box{
    height: 100%;
    overflow: scroll;
    flex: 1;
    // padding-bottom: 36px;
    :global{
        .ant-typography p, div.ant-typography{
          margin-bottom: 0!important;
        }
    }
}
// 编辑的style
.tab-style{
    :global{
        .ant-tabs-bar{
            border-bottom: none;
            margin-bottom: 1px;
          }
          .ant-table {
            background-color: #fff;
            box-shadow: 0 2px 11px 0 rgba(153,170,192,.17);
          }
          .ant-calendar-picker{
            width: 250px;
          }
    }
}
.task-remark-step{
    overflow-y: scroll;
    max-height: 400px;
    min-width: 400px;
    :global{
        .ant-steps-dot .ant-steps-item-content,
        .ant-steps-dot.ant-steps-small .ant-steps-item-content {
            width: 380px!important;
        }
    }
}
// 上传凭证
.task-subtitle-upload{
    :global{
      .ant-upload-list-picture-card-container{
        width: 64px!important;
        height: 64px!important;
        margin: 0!important;
      }
      .ant-upload-list-picture-card .ant-upload-list-item{
        width: 64px!important;
        height: 64px!important;
        margin: 0!important;
        padding: 0!important;
      }
      .ant-upload.ant-upload-select-picture-card{
        width: 64px!important;
        height: 64px!important;
      }
      .ant-upload-select{
        height: 64px!important;
        display: table!important;
      }
      .ant-upload.ant-upload-select-picture-card > .ant-upload{
        width: 64px!important;
      }
      .ant-upload-picture-card-wrapper{
        display: flex!important;
      }
      .skMediaThumb-item{
        border-right: 1px solid #d9d9d9!important;
      }
    }
}

// userDescriptions
.user-descriptions{
    :global{
        .ant-descriptions-item{
            line-height: 34px!important;
            padding-bottom: 8px!important;
        }
    }
}
  
// 步骤条
.step-box{
    padding: 10px 0;
    :global{
      .ant-steps-item-description{
        font-size: 12px;
      }
      .ant-steps-item-title{
        font-size: 14px;
      }
      .ant-descriptions-row > th, .ant-descriptions-row > td{
        padding-bottom: 12px;
      }
      .ant-descriptions-item-label{
        width: 70px;
        font-size: 12px;
        text-align: left;
        white-space: normal;
        vertical-align: middle;
      }
    
    }
  }

.red{
    color: red;
}